/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
 * Variables
 */

:root {
    --accent: #72aee6;
    --accent__hover: #4596e2;
    --secondary: #1d2327;
    --grey: #30363d;
    --dark: #181d20;
    --danger: #d63638;
}
  
/**
* --- Preflight ---
*/
  
.nb-editor {
    &, 
    & * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

/**
* --- End Preflight ---
*/


.nb-block {
    // all: unset;
    position: relative;
    z-index: 1;
  
    > *:not(.nb-block) {
        // all: unset;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
    }

    &::before {
        content: "";
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid var(--secondary);
        pointer-events: none;
    }

    .nb-edit_btn {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        right: -1px;
        top: 0;
        width: 20px;
        height: 20px;
        // background-color: var(--secondary);
        border-radius: 0px 0px 0px 5px;
        z-index: 10;

        &::before{
            content: "\f044";
            display: block;
            font-family: 'Font Awesome 6 Free';
            color: var(--secondary);
            font-size: 14px;
            font-weight: 900;
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            right: 6px;
            transform: translate(-50%, -50%);
            width: fit-content;
            height: fit-content;
            pointer-events: none;
        }
    }
        
    &_selected  {
        &::before {
            display: block;
        }
    }
}

.nb-editor_wrap {

    .nb-block {
        min-height: 25px;

        &_show_edit_btn {
            &::before {
                display: block;
            }

            &.nb-base{
                // &::after {
                //     content: "Column";
                //     position: absolute;
                //     display: block;
                //     right: -2px;
                //     bottom: 100%;
                //     background-color: var(--secondary);
                //     padding: 2px 3px;
                //     border-radius: 5px 5px 0px 0px;
                //     color: white;
                //     font-size: 10px;
                //     font-weight: 300;
                // }
            }
    
            > .nb-edit_btn {
                display: flex;
            }
        }
    }
}

.nb-editor_wrap .nb-base:not(.nb-main_wrap) {
    position: relative;
    // gap: 10px;

    &::before {
        content: "";
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px dashed var(--dark);
    }
}

.nb-editor {
    * {
        color: white;
    }

    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    background-color: var(--secondary);
    height: 100%;
    transition: transform 0.4s ease;

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 10px 10px 10px;
        background-color: var(--dark);
        margin-bottom: 10px;

        > .dashicons {
            cursor: pointer;

            &:hover {
                color: var(--accent);
            }
        }
    }

    &_body {
        padding: 0px 10px 10px 10px;
    }

    &_tab_nav_menu{
        display: flex;
        
        > a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            border: 1px solid var(--grey);
            min-height: 35px;
            padding: 10px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                background-color: var(--grey);
            }

            &.nb-editor_selected {
                background-color: var(--dark);
                > span {
                    color: var(--accent);
                }
            }
        }

    }

    &_tab_content {
        display: none;
    }

    &_bottom_wrap {
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 0px 15px 20px 15px;
    }

    &_btn_update {
        display: block;
        margin-left: auto;
        background-color: var(--accent);
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: var(--accent__hover);
        }
    }

    &_hide_btn {
        all:unset;
        display: flex;
        position: absolute;
        left: 100%;
        top: 50%;
        width: 17px;
        height: 70px;
        transform: translateY(-50%);
        background-color: var(--secondary);
        justify-content: center;
        align-items: center;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;

        .dashicons-arrow-right-alt2 {
            display: none;
        }
    }

    &_wrap {
        margin-left: 300px;
    }

    &_resize_bar{
        position: absolute;
        width: 5px;
        background-color: transparent;
        height: 100%;
        right: 0;
        top: 0;
        cursor: ew-resize;
    }

    &_blocks_picker{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;

        > div {
            padding: 2px 7px;

            > span  {
                font-size: 16px;
                font-weight: 400;
            }
            
            &:hover {
                border-radius: 5px;
                background-color: var(--grey);

                > span {
                    color: var(--accent);
                }

                cursor: pointer;
            }
        }
    }

    &_cloned_picker {
        position: fixed;
        background-color: var(--dark);
        pointer-events: none;
        padding: 7px 15px;
        border-radius: 5px;
        min-width: 200px;
        font-size: 16px;
        color: var(--accent);
        font-weight: 300;
        z-index: 999999999;
    }

    &_temp {
        display: none;
    }

    &_selectors {
        display: none;
    }
}

.nb-status_hide_editor{
    margin-left: 0px !important;

    .nb-editor {
        transform: translateX(-100%);
        transition: 0.4s ease;

        &_hide_btn {
            .dashicons-arrow-right-alt2 {
                display: block;
            }
            .dashicons-arrow-left-alt2 {
                display: none;
            }
        }
    }
}

.nb-status__noselect {
    user-select: none;
}

.nb-controls {
    &_wrap{
        display: none;
    }
}

.nb-control {
    &_divider {
        width: 100%;
        color: var(--grey);
    }
}

.nb_control_wrap{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nb-editor_input_wrap {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: flex-end;

        &::before {
            content: "\f107";
            display: block;
            font-family: 'Font Awesome 6 Free';
            font-size: 14px;
            font-weight: 900;
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    > label {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        width: fit-content;
        font-size: 14px;
        font-weight: 300;
        padding-right: 30px;

        > span {
            white-space: nowrap;
            margin-right: 5px;
        }

        .nb-control_responsive_btns {
            position: absolute;
            
            overflow: hidden;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
 
            width: max-content;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 1px;
            padding-bottom: 0px;
            border: 1px solid transparent;
            background-color: var(--secondary);
            border-radius: 3px;
            top: -1px;
            left: calc(100% - 32px);
            max-height: 23px;
            
            z-index: 100;
            transition: max-height 0.2s ease, border 0.2s ease;

            // &_translate {
            //     display: flex;
            //     justify-content: flex-start;
            //     align-items: center;
            //     flex-direction: column;
            // }

            a {
                margin: 1px 0px;
                i {
                    font-size: 14px;
        
                    &:hover {
                        color: var(--accent);
                    }
                }
            }

            &.active {
                max-height: 90px;
                border-color: var(--grey);
                box-shadow: 2px 1px 5px #000000ab;
                transition: max-height 0.2s ease, border 0.2s ease;

                a{
                    &.active > i {
                        color: var(--accent);
                    }
                }
            }
        }
    }

    input,
    select {
        padding: 5px 7px;
        width: 100%;
        max-width: 180px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid var(--grey);
        background-color: var(--dark);


        &:focus-visible {
            outline: none;
            border-color: var(--accent);
        }
    }

    > input {
        display: block;
    }

    select {
        display: flex;
        justify-content: flex-start;
        align-items: center;   
        appearance: none; 
        padding-right: 22px;
    }
}

.nb-dialog{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: var(--grey);
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 9999;
    color: white;
    min-width: 200px;

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 5px 0px;
        font-size: 15px;
        font-weight: 300;

        > li {
            cursor: pointer;
            border-radius: 5px;
            padding: 5px;

            &:hover {
                background-color: var(--grey);
            }

            &[data-option="delete"]:hover {
                background-color: var(--danger);
            }
        }
    }
}

.nb-main_wrap {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 0px 1px var(--dark);
    }

    &_tag {
        position: absolute;
        right: -1px;
        bottom: 100%;
        background-color: var(--secondary);
        font-size: 12px;
        padding: 2px 5px;
        color: white;
        border-radius: 5px 5px 0px 0px;
    }
}

.nb-preselect_banner {
    display: block !important;
    background-color: var(--accent) !important;
    width: 100% !important;
    height: 10px !important;
    margin: 2px 0px !important;
}

.nb_display_block {
    display: block;
}

.nb-display__flex {
    display: flex;
}

.nb-display__none {
    display: none !important;
}

.nb-position__fixed {
    position: fixed;
}