.ev-header {
    &_wysing {
        p {
            color: white;
        }
        ul {
            li {
                position: relative;
                font-family: var(--font_msr);
                font-size: $font_size_18;
                font-weight: 300;
                line-height: $line_height_18;
                color: white;
                margin-left: 22px;
        
                &::before {
                    position: absolute;
                    content:"";
                    display: block;
                    background-image: url("/app/uploads/2022/11/ic_check-white.svg");
                    width: 16px;
                    height: 16px;
                    top: 8px;
                    left: -20px;
                    background-repeat: no-repeat;
                }
                @media only screen and (max-width: 767px) {
                    font-size: $font_size_16;
                }
                @media only screen and (max-width: 639px) {
                    font-size: $font_size_15;
                }
            }
        }
    }
    
    &_hero {
        width: var(--image-width);
        min-width: var(--image-width);
    }
}

.ev-comparation{
    &_example li {
        color: $white;
    }
}

.ev-protocols {
    &__active {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: calc( 100% + 4px );
            display: block;
            background-color: $primary_700;
            width: 100%;
            height: 3px;
            border-radius: 100px;
        }
    }
}