@font-face {
    font-family: 'Montserrat';
    src: url('/app/themes/evtheme/assets/fonts/montserrat/static/Montserrat-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/app/themes/evtheme/assets/fonts/montserrat/static/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/app/themes/evtheme/assets/fonts/montserrat/static/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/app/themes/evtheme/assets/fonts/montserrat/static/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/app/themes/evtheme/assets/fonts/montserrat/static/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/app/themes/evtheme/assets/fonts/montserrat/static/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}