h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font_msr);
}

p {
    font-family: var(--font_msr);
    font-size:  $font_size_17;
    line-height: $line_height_18;
    font-weight: 300;
    color: $dark_600;

    @media only screen and (max-width: 767px) {
        font-size: $font_size_16;
    }
    @media only screen and (max-width: 639px) {
        font-size: $font_size_14;
    }
}


strong,
b {
    font-weight: 600;
}

a {
    position: relative;
    color: $secondary_200;
    cursor: pointer;
}

h1 {
    font-size: $font_size_50;
    font-weight: 700;
    line-height: $line_height_60;
    color: $dark_800;


    @media only screen and (max-width: 1024px) {
        font-size: $font_size_32;
    }

    @media only screen and (max-width: 767px) {
        font-size: $font_size_24;
    }
    @media only screen and (max-width: 639px) {
        font-size: $font_size_24;
    }
}

h2 {
    font-size: $font_size_40;
    font-weight: 700;
    line-height: $line_height_40;
    color: $dark_800;

    @media only screen and (max-width: 767px) {
        font-size: $font_size_32;
    }
    @media only screen and (max-width: 639px) {
        font-size: $font_size_24;
    }
}

h3 {
    font-size: $font_size_40;
    font-weight: 700;
    line-height: $line_height_32;
    color: $dark_700;

    @media only screen and (max-width: 767px) {
        font-size: $font_size_24;
    }

    @media only screen and (max-width: 639px) {
        font-size: $font_size_18;
    }
}

h5 {
    font-size: $font_size_19;
    font-weight: 600;
    line-height: $line_height_32;
    color: $dark_800;

    @media only screen and (max-width: 767px) {
        font-size: $font_size_24;
    }

    @media only screen and (max-width: 639px) {
        font-size: $font_size_18;
    }
}

figcaption {
    font-family: var(--font_msr);
    font-size: $font_size_13;
    // color: $grey_500;
    line-height: $line_height_13;
}

ol {
    li {
        font-family: var(--font_msr);
        font-size: $font_size_18;
        font-weight: 300;
        line-height: $line_height_60;
        // color: $grey_700;
        @media only screen and (max-width: 767px) {
            font-size: $font_size_16;
        }
        @media only screen and (max-width: 639px) {
            font-size: $font_size_15;
        }
        
    }
}

li {
    font-family: var(--font_msr);
    font-size: $font_size_18;
    font-weight: 300;
    line-height: $line_height_60;
    // color: $grey_700;
    @media only screen and (max-width: 767px) {
        font-size: $font_size_16;
    }
    @media only screen and (max-width: 639px) {
        font-size: $font_size_15;
    }
}



