{# WN Ready #}

<div class="{% if is_sticky %} sticky left-0 top-0 {% endif %} lg:z-50">
    <div class="savvy-table_of_contents transition-all sc-thin_scrollbar shadow-md hover:shadow-lg mb-8 w-full bg-white rounded-lg py-5 px-6 overflow-y-auto h-fit max-h-[calc(100vh_-_80px)] lg:bg-none lg:py-3 lg:px-5 lg:fixed lg:left-0 lg:top-0 lg:-translate-y-full lg:z-10">
        <div class="group flex justify-between items-center lg:mb-0">
            <span class="block font-medium text-size_19 text-dark-700">{{ instance.title|apply_filters('widget_title') }}</span>
            <button class="savvy-table_of_contents_toggle_btn" aria-label="Open or Close Table of Content" title="Open or Close Table of Content">
                {% include 'partials/icons.twig' with { icon : 'bars', class : 'savvy-icon_bars hidden block w-5 h-5 fill-dark-600 transition-all lg:block' } %}
                {% include 'partials/icons.twig' with { icon : 'cancel', class : 'savvy-icon_cancel hidden w-5 fill-dark-600 transition-all' } %}
                {% include 'partials/icons.twig' with { icon : 'chevron_down', class : 'savvy-icon_chevrondown block w-5 h-5 fill-dark-600 transition-all lg:hidden' } %}
            </button>
        </div>
        {% if page_headings is not empty %}
            <div class="savvy-table_of_contents_content h-fit transition-all max-h-0 overflow-hidden">
                {% include "widgets/table-of-contents-menu.twig" with { 'headings': page_headings, 'is_child': false } only %}   
            </div>
        {% endif %}
    </div> 
</div>
