{# WN Ready #}

{% extends "layouts/base.twig" %}

{% block content %}
    {# Show subheader #}
    {% include "partials/subheader.twig" with { title: term.name } %}

    <section class="mt-20">
        <div class="container">
            {% include "partials/post-grid.twig" %}
        </div>
    </section>
{% endblock %}
