{# WN Ready #}

{% extends "layouts/base.twig" %}
{% block content %}
    <section id="ps-not_found_page" class="flex items-center min-h-[calc(100vh_-_572px)] py-28 lg:py-10">
        <div class="container w-full flex justify-between items-center lg:flex-col">
            <div class="w-6/12 lg:max-w-[592px] lg:w-full lg:text-center lg:mb-12">
                <span class="block text-[200px] font-mulish text-dark-700 font-bold leading-[1em] sm:text-[100px] ">404</span>
                <h1 class="text-dark-600 text-h3 ">We haven't found this page...</h1>
                {% include 'partials/button.twig' with { 
                    text: 'Visit Homepage',
                    url: 'https://vpnverity.com',
                    disclosure: fields.btn_disclosure,
                    class: "block w-fit mt-5",
                    } only
                %}
            </div>
            <div class="w-6/12 lg:w-full" >
                {# <img class="block object-contain w-auto h-96 ml-auto lg:mx-auto" src="{{hero_image}}"> #}
            </div>
        </div>
    </section>
{% endblock %}
