/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/**
 * Variables
 */
:root {
  --accent: #72aee6;
  --accent__hover: #4596e2;
  --secondary: #1d2327;
  --grey: #30363d;
  --dark: #181d20;
  --danger: #d63638;
}

/**
* --- Preflight ---
*/
.nb-editor, .nb-editor * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* --- End Preflight ---
*/
.nb-block {
  position: relative;
  z-index: 1;
}
.nb-block h1,
.nb-block h2,
.nb-block h3,
.nb-block h4,
.nb-block h5,
.nb-block h6 {
  display: block;
}
.nb-block::before {
  content: "";
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary);
  pointer-events: none;
}
.nb-block .nb-edit_btn {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  right: -1px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 0px 0px 0px 5px;
  z-index: 10;
}
.nb-block .nb-edit_btn::before {
  content: "\f044";
  display: block;
  font-family: "Font Awesome 6 Free";
  color: var(--secondary);
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  right: 6px;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  pointer-events: none;
}
.nb-block_selected::before {
  display: block;
}

.nb-editor_wrap .nb-block {
  min-height: 25px;
}
.nb-editor_wrap .nb-block_show_edit_btn::before {
  display: block;
}
.nb-editor_wrap .nb-block_show_edit_btn > .nb-edit_btn {
  display: flex;
}

.nb-editor_wrap .nb-base:not(.nb-main_wrap) {
  position: relative;
}
.nb-editor_wrap .nb-base:not(.nb-main_wrap)::before {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--dark);
}

.nb-base {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.nb-editor {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  background-color: var(--secondary);
  height: 100%;
  transition: transform 0.4s ease;
}
.nb-editor * {
  color: white;
}
.nb-editor_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px 10px 10px;
  background-color: var(--dark);
  margin-bottom: 10px;
}
.nb-editor_header > .dashicons {
  cursor: pointer;
}
.nb-editor_header > .dashicons:hover {
  color: var(--accent);
}
.nb-editor_body {
  padding: 0px 10px 10px 10px;
}
.nb-editor_tab_nav_menu {
  display: flex;
}
.nb-editor_tab_nav_menu > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--grey);
  min-height: 35px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}
.nb-editor_tab_nav_menu > a:hover {
  background-color: var(--grey);
}
.nb-editor_tab_nav_menu > a.nb-editor_selected {
  background-color: var(--dark);
}
.nb-editor_tab_nav_menu > a.nb-editor_selected > span {
  color: var(--accent);
}
.nb-editor_tab_content {
  display: none;
}
.nb-editor_bottom_wrap {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0px 15px 20px 15px;
}
.nb-editor_btn_update {
  display: block;
  margin-left: auto;
  background-color: var(--accent);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.nb-editor_btn_update:hover {
  background-color: var(--accent__hover);
}
.nb-editor_hide_btn {
  all: unset;
  display: flex;
  position: absolute;
  left: 100%;
  top: 50%;
  width: 17px;
  height: 70px;
  transform: translateY(-50%);
  background-color: var(--secondary);
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
.nb-editor_hide_btn .dashicons-arrow-right-alt2 {
  display: none;
}
.nb-editor_wrap {
  margin-left: 300px;
}
.nb-editor_resize_bar {
  position: absolute;
  width: 5px;
  background-color: transparent;
  height: 100%;
  right: 0;
  top: 0;
  cursor: ew-resize;
}
.nb-editor_blocks_picker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.nb-editor_blocks_picker > div {
  padding: 2px 7px;
}
.nb-editor_blocks_picker > div > span {
  font-size: 16px;
  font-weight: 400;
}
.nb-editor_blocks_picker > div:hover {
  border-radius: 5px;
  background-color: var(--grey);
  cursor: pointer;
}
.nb-editor_blocks_picker > div:hover > span {
  color: var(--accent);
}
.nb-editor_cloned_picker {
  position: fixed;
  background-color: var(--dark);
  pointer-events: none;
  padding: 7px 15px;
  border-radius: 5px;
  min-width: 200px;
  font-size: 16px;
  color: var(--accent);
  font-weight: 300;
  z-index: 999999999;
}
.nb-editor_temp {
  display: none;
}
.nb-editor_selectors {
  display: none;
}

.nb-status_hide_editor {
  margin-left: 0px !important;
}
.nb-status_hide_editor .nb-editor {
  transform: translateX(-100%);
  transition: 0.4s ease;
}
.nb-status_hide_editor .nb-editor_hide_btn .dashicons-arrow-right-alt2 {
  display: block;
}
.nb-status_hide_editor .nb-editor_hide_btn .dashicons-arrow-left-alt2 {
  display: none;
}

.nb-status__noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.nb-controls_wrap {
  display: none;
}

.nb-control_divider {
  width: 100%;
  color: var(--grey);
}

.nb_control_wrap {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nb_control_wrap .nb-editor_input_wrap {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}
.nb_control_wrap .nb-editor_input_wrap::before {
  content: "\f107";
  display: block;
  font-family: "Font Awesome 6 Free";
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  pointer-events: none;
}
.nb_control_wrap > label {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
}
.nb_control_wrap input,
.nb_control_wrap select {
  padding: 5px 7px;
  width: 100%;
  max-width: 180px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid var(--grey);
  background-color: var(--dark);
}
.nb_control_wrap input:focus-visible,
.nb_control_wrap select:focus-visible {
  outline: none;
  border-color: var(--accent);
}
.nb_control_wrap > input {
  display: block;
}
.nb_control_wrap select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 20px;
}

.nb-dialog {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: var(--grey);
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 9999;
  color: white;
  min-width: 200px;
}
.nb-dialog ul {
  list-style-type: none;
  padding: 0px;
  margin: 5px 0px;
  font-size: 15px;
  font-weight: 300;
}
.nb-dialog ul > li {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
.nb-dialog ul > li:hover {
  background-color: var(--grey);
}
.nb-dialog ul > li[data-option=delete]:hover {
  background-color: var(--danger);
}

.nb-main_wrap {
  position: relative;
}
.nb-main_wrap::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 1px var(--dark);
}
.nb-main_wrap_tag {
  position: absolute;
  right: -1px;
  bottom: 100%;
  background-color: var(--secondary);
  font-size: 12px;
  padding: 2px 5px;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.nb-preselect_banner {
  display: block !important;
  background-color: var(--accent) !important;
  width: 100% !important;
  height: 10px !important;
  margin: 2px 0px !important;
}

.nb_display_block {
  display: block;
}

.nb-display__flex {
  display: flex;
}

.nb-display__none {
  display: none !important;
}

.nb-position__fixed {
  position: fixed;
}
