<section class="vv-header relative bg-home-hero bg-cover bg-center bg-no-repeat py-40 z-0">
    <div class="absolute bg-[#02002fe3] left-0 top-0 w-full h-full -z-10"></div>
    <div class="container">
        <h1 class="text-white text-center">{{fields.title}}</h1>
        {% if ( fields.intro ) %} 
            <div class="vv-header_wysing mt-6">{{ fields.intro }}</div>
        {% endif %}
        {% include 'partials/button.twig' with { 
            text: fields.btn_name,
            url: fields.btn_link,
            disclosure: fields.btn_disclosure,
            class: "block w-fit mx-auto mt-8 text-center",
            } only
        %}
    </div>
</section>
