<section class="vv-imageandcontent container flex justify-start gap-10 {% if fields.invert %} flex-row-reverse {% endif %} md:flex-col">
    <img class="flex-1 block h-auto w-2/4 object-contain lg:w-full" src="{{ fields.image.url }}">
    <div class="flex-1 flex justify-center flex-col w-2/4 md:w-full">
        <h2 class="md:text-center">{{ fields.title }}</h2>
        <div class="vv-wysiwyg mt-6">{{ fields.intro }}</div>
        {% if fields.btn_name or fields.btn_link %}
            {% include 'partials/button.twig' with {
                text: fields.btn_name,
                url: fields.btn_link,
                class: "block w-fit mt-6",
                } only
            %}
        {% endif %}
    </div>
</section>
