{# WN Ready #}

<div class="ps-cookiebar fixed bottom-0 left-0 w-full py-1 px-4 bg-dark-700 z-40 text-center hidden">
    <span class="text-white font-mulish text-xs font-light mr-2.5">We use cookies for providing you with the best-possible user experience. By using Streamingera, you accept <a class="text-white decoration-primary-700 decoration-1 hover:text-primary-700" href='https://streamingera.com/privacy-policy/' target='_blank'>our privacy policy</a>.</span>
    <button class="ps-cookiebar_btn font-mulish text-xs font-medium text-white bg-dark-800 py-px px-2 rounded-md hover:bg-primary-700 ">X</button>
</div>