<header class="vv-topbar container flex justify-between items-center py-1.5">
    <a class="block" href="{{home_url}}">
        <img class="block w-52" src="/app/themes/savvy-child/assets/images/ap-logo-2.png" alt='AnonymityPro Logo'>
    </a>
    <div class="flex justify-center items-center gap-4">
        {% if header_menu %}
            <ul itemscope itemtype="https://schema.org/SiteNavigationElement" class="flex justify-end flex-row gap-8 h-full mr-6">
                {% include "partials/menu-iterator.twig" with { 'menu': header_menu } %}
            </ul>
        {% endif %}

        {% include 'partials/button.twig' with {
            theme: 'radial_gradient',
            text: 'Best VPNs',
            url: 'google.com',
            class: "whitespace-nowrap",
            } only
        %}
        
        <a class="" href="#">
            {% include "partials/icons.twig" with { icon: "search", class: "fill-secondary-700 h-5 w-5" } %}
        </a>  
    </div>
</header>
