.ps-admin_notice {
  position: fixed;
  display: block;
  width: 100%;
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 10000;
  background-color: #fff;
  box-shadow: 5px 5px 20px #00000070;
  left: 50%;
  top: 50px;
  transform: translateX(-50%) translateY(calc(-100% - 50px));
  padding: 5px 20px;
  transition: 0.4s ease;
}
.ps-admin_notice_head {
  position: relative;
  padding-right: 60px;
}
.ps-admin_notice_head > h2.ps-admin_notice__error::before {
  content: "\f153";
  font-family: dashicons;
  display: inline;
  font-size: 30px;
  color: #d63638;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.ps-admin_notice_head > h2.ps-admin_notice__success::before {
  content: "\f12a";
  font-family: dashicons;
  display: inline;
  font-size: 30px;
  color: #00a32a;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.ps-admin_notice_close {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 32px;
  color: #6d6d6d;
  display: block;
  width: auto;
  height: auto;
  top: -16px;
  right: -13px;
  cursor: pointer;
}
.ps-admin_notice_close:hover {
  color: #000;
}
.ps-admin_notice_body ul {
  list-style-type: disc;
  padding-left: 14px;
}
.ps-admin_notice.active {
  transform: translateX(-50%) translateY(0px);
  transition: 0.4s ease;
}
.ps-gtapi_options {
  margin-bottom: 15px;
}
.ps-gtapi_options > div {
  margin-bottom: 5px;
}
.ps-gtapi_target_language {
  display: block;
  margin-bottom: 15px;
}
.ps-gtapi_translate_btn {
  margin-bottom: 15px;
}
.ps-gtapi_message {
  display: none;
  padding: 5px;
  font-weight: 500;
  border-radius: 5px;
  color: #3a4248;
}
.ps-gtapi_message.error {
  display: block;
  border: 2px solid #d63638;
}
.ps-gtapi_message.success {
  display: block;
  border: 2px solid #00a32a;
}
.ps-admin_on_prod_warning {
  position: fixed;
  display: block;
  background-color: #d63638;
  color: white;
  padding: 5px 10px;
  left: 50%;
  border-radius: 0px 0px 5px 5px;
  transform: translateX(-50%);
  z-index: 99999;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 5px;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.ps-flush_cache_icon::before {
  font: normal 20px/1 dashicons;
  content: "\f113";
  position: relative;
  float: left;
  speak: never;
  padding: 4px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none !important;
  margin-right: 6px;
  margin-top: 2px;
}
